In [66]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', False)

In [ ]:
! head ../data/fert.csv

In [117]:
fertility = pd.read_csv("../data/fert.csv")
life_expectancy = pd.read_csv("../data/life_expectancy.csv")
population = pd.read_csv("../data/population.csv")
all_data = pd.concat([fertility, life_expectancy, population])
all_data

              Country Name Country Code  \
0                    Aruba          ABW
1              Afghanistan          AFG
2                   Angola          AGO
3                  Albania          ALB
4                  Andorra          AND
5               Arab World          ARB
6     United Arab Emirates          ARE
7                Argentina          ARG
8                  Armenia          ARM
9           American Samoa          ASM
..                     ...          ...
254  Virgin Islands (U.S.)          VIR
255                Vietnam          VNM
256                Vanuatu          VUT
257                  World          WLD
258                  Samoa          WSM
259                 Kosovo          XKX
260            Yemen, Rep.          YEM
261           South Africa          ZAF
262                 Zambia          ZMB
263               Zimbabwe          ZWE

                               Indicator Name  Indicator Code          1960  \
0    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  4.820000e+00
1    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  7.450000e+00
2    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  7.379000e+00
3    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  6.489000e+00
4    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN           NaN
5    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  6.920302e+00
6    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  6.928000e+00
7    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  3.109000e+00
8    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  4.550000e+00
9    Fertility rate, total (births per woman)  SP.DYN.TFRT.IN           NaN
..                                        ...             ...           ...
254                         Population, total     SP.POP.TOTL  3.200000e+04
255                         Population, total     SP.POP.TOTL  3.474300e+07
256                         Population, total     SP.POP.TOTL  6.369900e+04
257                         Population, total     SP.POP.TOTL  3.034193e+09
258                         Population, total     SP.POP.TOTL  1.086460e+05
259                         Population, total     SP.POP.TOTL  9.470000e+05
260                         Population, total     SP.POP.TOTL  5.172135e+06
261                         Population, total     SP.POP.TOTL  1.739637e+07
262                         Population, total     SP.POP.TOTL  3.044846e+06
263                         Population, total     SP.POP.TOTL  3.747369e+06

        ...               2013          2014          2015          2016  \
0       ...       1.669000e+00  1.657000e+00  1.647000e+00           NaN
1       ...       5.050000e+00  4.843000e+00  4.653000e+00           NaN
2       ...       6.165000e+00  6.080000e+00  5.996000e+00           NaN
3       ...       1.765000e+00  1.784000e+00  1.793000e+00           NaN
4       ...                NaN           NaN           NaN           NaN
5       ...       3.417848e+00  3.387747e+00  3.347607e+00           NaN
6       ...       1.801000e+00  1.784000e+00  1.767000e+00           NaN
7       ...       2.335000e+00  2.322000e+00  2.308000e+00           NaN
8       ...       1.553000e+00  1.531000e+00  1.517000e+00           NaN
9       ...                NaN           NaN           NaN           NaN
..      ...                ...           ...           ...           ...
254     ...       1.047370e+05  1.041700e+05  1.035740e+05  1.029510e+05
255     ...       8.975950e+07  9.072890e+07  9.171330e+07  9.270110e+07
256     ...       2.531420e+05  2.588500e+05  2.646030e+05  2.704020e+05
257     ...       7.182860e+09  7.268986e+09  7.355220e+09  7.442136e+09
258     ...       1.907570e+05  1.922900e+05  1.937590e+05  1.951250e+05
259     ...       1.824100e+06  1.821800e+06  1.801800e+06  1.816200e+06
260     ...       2.557632e+07  2.624633e+07  2.691621e+07  2.758421e+07
261     ...       5.331196e+07  5.414673e+07  5.501198e+07  5.590886e+07
262     ...       1.515321e+07  1.562097e+07  1.610059e+07  1.659139e+07
263     ...       1.505451e+07  1.541168e+07  1.577745e+07  1.615036e+07

     Unnamed: 61
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
..           ...
254          NaN
255          NaN
256          NaN
257          NaN
258          NaN
259          NaN
260          NaN
261          NaN
262          NaN
263          NaN

[792 rows x 62 columns]

In [118]:
all_data.dropna()

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, Unnamed: 61]
Index: []

[0 rows x 62 columns]

In [116]:
all_data[all_data['Country Name']=='East Asia & Pacific (IDA & IBRD countries)']

                                   Country Name Country Code  \
228  East Asia & Pacific (IDA & IBRD countries)          TEA
228  East Asia & Pacific (IDA & IBRD countries)          TEA
228  East Asia & Pacific (IDA & IBRD countries)          TEA

                               Indicator Name  Indicator Code          1960  \
228  Fertility rate, total (births per woman)  SP.DYN.TFRT.IN  5.843793e+00
228   Life expectancy at birth, total (years)  SP.DYN.LE00.IN  4.539513e+01
228                         Population, total     SP.POP.TOTL  8.845942e+08

        ...               2013          2014          2015          2016  \
228     ...       1.810800e+00  1.813057e+00  1.814725e+00           NaN
228     ...       7.385374e+01  7.403559e+01  7.422231e+01           NaN
228     ...       1.982414e+09  1.996870e+09  2.011274e+09  2.026028e+09

     Unnamed: 61
228          NaN
228          NaN
228          NaN

[3 rows x 62 columns]

In [87]:
columns = ['Country Code', 'Country Name', 'Indicator Code'] + list((str(x) for x in np.arange(1960, 2016)))

In [120]:
data = all_data[columns]
data

    Country Code           Country Name  Indicator Code          1960  \
0            ABW                  Aruba  SP.DYN.TFRT.IN  4.820000e+00
1            AFG            Afghanistan  SP.DYN.TFRT.IN  7.450000e+00
2            AGO                 Angola  SP.DYN.TFRT.IN  7.379000e+00
3            ALB                Albania  SP.DYN.TFRT.IN  6.489000e+00
4            AND                Andorra  SP.DYN.TFRT.IN           NaN
5            ARB             Arab World  SP.DYN.TFRT.IN  6.920302e+00
6            ARE   United Arab Emirates  SP.DYN.TFRT.IN  6.928000e+00
7            ARG              Argentina  SP.DYN.TFRT.IN  3.109000e+00
8            ARM                Armenia  SP.DYN.TFRT.IN  4.550000e+00
9            ASM         American Samoa  SP.DYN.TFRT.IN           NaN
..           ...                    ...             ...           ...
254          VIR  Virgin Islands (U.S.)     SP.POP.TOTL  3.200000e+04
255          VNM                Vietnam     SP.POP.TOTL  3.474300e+07
256          VUT                Vanuatu     SP.POP.TOTL  6.369900e+04
257          WLD                  World     SP.POP.TOTL  3.034193e+09
258          WSM                  Samoa     SP.POP.TOTL  1.086460e+05
259          XKX                 Kosovo     SP.POP.TOTL  9.470000e+05
260          YEM            Yemen, Rep.     SP.POP.TOTL  5.172135e+06
261          ZAF           South Africa     SP.POP.TOTL  1.739637e+07
262          ZMB                 Zambia     SP.POP.TOTL  3.044846e+06
263          ZWE               Zimbabwe     SP.POP.TOTL  3.747369e+06

             1961      ...               2011          2012          2013  \
0    4.655000e+00      ...       1.692000e+00  1.680000e+00  1.669000e+00
1    7.450000e+00      ...       5.506000e+00  5.272000e+00  5.050000e+00
2    7.388000e+00      ...       6.335000e+00  6.251000e+00  6.165000e+00
3    6.401000e+00      ...       1.699000e+00  1.735000e+00  1.765000e+00
4             NaN      ...                NaN           NaN           NaN
5    6.941665e+00      ...       3.446814e+00  3.437146e+00  3.417848e+00
6    6.910000e+00      ...       1.841000e+00  1.820000e+00  1.801000e+00
7    3.100000e+00      ...       2.358000e+00  2.347000e+00  2.335000e+00
8    4.512000e+00      ...       1.613000e+00  1.581000e+00  1.553000e+00
9             NaN      ...                NaN           NaN           NaN
..            ...      ...                ...           ...           ...
254  3.410000e+04      ...       1.057840e+05  1.052750e+05  1.047370e+05
255  3.542800e+07      ...       8.786030e+07  8.880920e+07  8.975950e+07
256  6.571300e+04      ...       2.418710e+05  2.474850e+05  2.531420e+05
257  3.075115e+09      ...       7.012844e+09  7.097401e+09  7.182860e+09
258  1.121190e+05      ...       1.876650e+05  1.891940e+05  1.907570e+05
259  9.660000e+05      ...       1.791000e+06  1.805200e+06  1.824100e+06
260  5.260501e+06      ...       2.425221e+07  2.490997e+07  2.557632e+07
261  1.785004e+07      ...       5.172935e+07  5.250652e+07  5.331196e+07
262  3.140264e+06      ...       1.426476e+07  1.469994e+07  1.515321e+07
263  3.870756e+06      ...       1.438665e+07  1.471083e+07  1.505451e+07

             2014          2015
0    1.657000e+00  1.647000e+00
1    4.843000e+00  4.653000e+00
2    6.080000e+00  5.996000e+00
3    1.784000e+00  1.793000e+00
4             NaN           NaN
5    3.387747e+00  3.347607e+00
6    1.784000e+00  1.767000e+00
7    2.322000e+00  2.308000e+00
8    1.531000e+00  1.517000e+00
9             NaN           NaN
..            ...           ...
254  1.041700e+05  1.035740e+05
255  9.072890e+07  9.171330e+07
256  2.588500e+05  2.646030e+05
257  7.268986e+09  7.355220e+09
258  1.922900e+05  1.937590e+05
259  1.821800e+06  1.801800e+06
260  2.624633e+07  2.691621e+07
261  5.414673e+07  5.501198e+07
262  1.562097e+07  1.610059e+07
263  1.541168e+07  1.577745e+07

[792 rows x 59 columns]

In [121]:
data.dropna()

    Country Code           Country Name  Indicator Code          1960  \
0            ABW                  Aruba  SP.DYN.TFRT.IN  4.820000e+00
1            AFG            Afghanistan  SP.DYN.TFRT.IN  7.450000e+00
2            AGO                 Angola  SP.DYN.TFRT.IN  7.379000e+00
3            ALB                Albania  SP.DYN.TFRT.IN  6.489000e+00
5            ARB             Arab World  SP.DYN.TFRT.IN  6.920302e+00
6            ARE   United Arab Emirates  SP.DYN.TFRT.IN  6.928000e+00
7            ARG              Argentina  SP.DYN.TFRT.IN  3.109000e+00
8            ARM                Armenia  SP.DYN.TFRT.IN  4.550000e+00
10           ATG    Antigua and Barbuda  SP.DYN.TFRT.IN  4.425000e+00
11           AUS              Australia  SP.DYN.TFRT.IN  3.453000e+00
..           ...                    ...             ...           ...
254          VIR  Virgin Islands (U.S.)     SP.POP.TOTL  3.200000e+04
255          VNM                Vietnam     SP.POP.TOTL  3.474300e+07
256          VUT                Vanuatu     SP.POP.TOTL  6.369900e+04
257          WLD                  World     SP.POP.TOTL  3.034193e+09
258          WSM                  Samoa     SP.POP.TOTL  1.086460e+05
259          XKX                 Kosovo     SP.POP.TOTL  9.470000e+05
260          YEM            Yemen, Rep.     SP.POP.TOTL  5.172135e+06
261          ZAF           South Africa     SP.POP.TOTL  1.739637e+07
262          ZMB                 Zambia     SP.POP.TOTL  3.044846e+06
263          ZWE               Zimbabwe     SP.POP.TOTL  3.747369e+06

             1961      ...               2011          2012          2013  \
0    4.655000e+00      ...       1.692000e+00  1.680000e+00  1.669000e+00
1    7.450000e+00      ...       5.506000e+00  5.272000e+00  5.050000e+00
2    7.388000e+00      ...       6.335000e+00  6.251000e+00  6.165000e+00
3    6.401000e+00      ...       1.699000e+00  1.735000e+00  1.765000e+00
5    6.941665e+00      ...       3.446814e+00  3.437146e+00  3.417848e+00
6    6.910000e+00      ...       1.841000e+00  1.820000e+00  1.801000e+00
7    3.100000e+00      ...       2.358000e+00  2.347000e+00  2.335000e+00
8    4.512000e+00      ...       1.613000e+00  1.581000e+00  1.553000e+00
10   4.386000e+00      ...       2.115000e+00  2.102000e+00  2.088000e+00
11   3.540000e+00      ...       1.927000e+00  1.921000e+00  1.859000e+00
..            ...      ...                ...           ...           ...
254  3.410000e+04      ...       1.057840e+05  1.052750e+05  1.047370e+05
255  3.542800e+07      ...       8.786030e+07  8.880920e+07  8.975950e+07
256  6.571300e+04      ...       2.418710e+05  2.474850e+05  2.531420e+05
257  3.075115e+09      ...       7.012844e+09  7.097401e+09  7.182860e+09
258  1.121190e+05      ...       1.876650e+05  1.891940e+05  1.907570e+05
259  9.660000e+05      ...       1.791000e+06  1.805200e+06  1.824100e+06
260  5.260501e+06      ...       2.425221e+07  2.490997e+07  2.557632e+07
261  1.785004e+07      ...       5.172935e+07  5.250652e+07  5.331196e+07
262  3.140264e+06      ...       1.426476e+07  1.469994e+07  1.515321e+07
263  3.870756e+06      ...       1.438665e+07  1.471083e+07  1.505451e+07

             2014          2015
0    1.657000e+00  1.647000e+00
1    4.843000e+00  4.653000e+00
2    6.080000e+00  5.996000e+00
3    1.784000e+00  1.793000e+00
5    3.387747e+00  3.347607e+00
6    1.784000e+00  1.767000e+00
7    2.322000e+00  2.308000e+00
8    1.531000e+00  1.517000e+00
10   2.075000e+00  2.063000e+00
11   1.833000e+00  1.833000e+00
..            ...           ...
254  1.041700e+05  1.035740e+05
255  9.072890e+07  9.171330e+07
256  2.588500e+05  2.646030e+05
257  7.268986e+09  7.355220e+09
258  1.922900e+05  1.937590e+05
259  1.821800e+06  1.801800e+06
260  2.624633e+07  2.691621e+07
261  5.414673e+07  5.501198e+07
262  1.562097e+07  1.610059e+07
263  1.541168e+07  1.577745e+07

[728 rows x 59 columns]

In [122]:
all_data.dropna()

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, Unnamed: 61]
Index: []

[0 rows x 62 columns]

In [125]:
len(all_data['Country Code'].unique())

264

In [95]:
data = data.set_index(['Country Code', 'Country Name', 'Indicator Code'])
data

                                                           1960          1961  \
Country Code Country Name          Indicator Code
ABW          Aruba                 SP.DYN.TFRT.IN  4.820000e+00  4.655000e+00
AFG          Afghanistan           SP.DYN.TFRT.IN  7.450000e+00  7.450000e+00
AGO          Angola                SP.DYN.TFRT.IN  7.379000e+00  7.388000e+00
ALB          Albania               SP.DYN.TFRT.IN  6.489000e+00  6.401000e+00
AND          Andorra               SP.DYN.TFRT.IN           NaN           NaN
ARB          Arab World            SP.DYN.TFRT.IN  6.920302e+00  6.941665e+00
ARE          United Arab Emirates  SP.DYN.TFRT.IN  6.928000e+00  6.910000e+00
ARG          Argentina             SP.DYN.TFRT.IN  3.109000e+00  3.100000e+00
ARM          Armenia               SP.DYN.TFRT.IN  4.550000e+00  4.512000e+00
ASM          American Samoa        SP.DYN.TFRT.IN           NaN           NaN
...                                                         ...           ...
VIR          Virgin Islands (U.S.) SP.POP.TOTL     3.200000e+04  3.410000e+04
VNM          Vietnam               SP.POP.TOTL     3.474300e+07  3.542800e+07
VUT          Vanuatu               SP.POP.TOTL     6.369900e+04  6.571300e+04
WLD          World                 SP.POP.TOTL     3.034193e+09  3.075115e+09
WSM          Samoa                 SP.POP.TOTL     1.086460e+05  1.121190e+05
XKX          Kosovo                SP.POP.TOTL     9.470000e+05  9.660000e+05
YEM          Yemen, Rep.           SP.POP.TOTL     5.172135e+06  5.260501e+06
ZAF          South Africa          SP.POP.TOTL     1.739637e+07  1.785004e+07
ZMB          Zambia                SP.POP.TOTL     3.044846e+06  3.140264e+06
ZWE          Zimbabwe              SP.POP.TOTL     3.747369e+06  3.870756e+06

                                                           1962          1963  \
Country Code Country Name          Indicator Code
ABW          Aruba                 SP.DYN.TFRT.IN  4.471000e+00  4.271000e+00
AFG          Afghanistan           SP.DYN.TFRT.IN  7.450000e+00  7.450000e+00
AGO          Angola                SP.DYN.TFRT.IN  7.396000e+00  7.402000e+00
ALB          Albania               SP.DYN.TFRT.IN  6.282000e+00  6.133000e+00
AND          Andorra               SP.DYN.TFRT.IN           NaN           NaN
ARB          Arab World            SP.DYN.TFRT.IN  6.959471e+00  6.971402e+00
ARE          United Arab Emirates  SP.DYN.TFRT.IN  6.893000e+00  6.877000e+00
ARG          Argentina             SP.DYN.TFRT.IN  3.089000e+00  3.078000e+00
ARM          Armenia               SP.DYN.TFRT.IN  4.435000e+00  4.317000e+00
ASM          American Samoa        SP.DYN.TFRT.IN           NaN           NaN
...                                                         ...           ...
VIR          Virgin Islands (U.S.) SP.POP.TOTL     3.630000e+04  3.870000e+04
VNM          Vietnam               SP.POP.TOTL     3.612300e+07  3.683600e+07
VUT          Vanuatu               SP.POP.TOTL     6.780800e+04  6.996400e+04
WLD          World                 SP.POP.TOTL     3.127961e+09  3.192794e+09
WSM          Samoa                 SP.POP.TOTL     1.157880e+05  1.195610e+05
XKX          Kosovo                SP.POP.TOTL     9.940000e+05  1.022000e+06
YEM          Yemen, Rep.           SP.POP.TOTL     5.351799e+06  5.446063e+06
ZAF          South Africa          SP.POP.TOTL     1.832234e+07  1.880994e+07
ZMB          Zambia                SP.POP.TOTL     3.240587e+06  3.345145e+06
ZWE          Zimbabwe              SP.POP.TOTL     3.999419e+06  4.132756e+06

                                                           1964      ...       \
Country Code Country Name          Indicator Code                    ...
ABW          Aruba                 SP.DYN.TFRT.IN  4.059000e+00      ...
AFG          Afghanistan           SP.DYN.TFRT.IN  7.450000e+00      ...
AGO          Angola                SP.DYN.TFRT.IN  7.406000e+00      ...
ALB          Albania               SP.DYN.TFRT.IN  5.960000e+00      ...
AND          Andorra               SP.DYN.TFRT.IN           NaN      ...
ARB          Arab World            SP.DYN.TFRT.IN  6.975507e+00      ...
ARE          United Arab Emirates  SP.DYN.TFRT.IN  6.861000e+00      ...
ARG          Argentina             SP.DYN.TFRT.IN  3.068000e+00      ...
ARM          Armenia               SP.DYN.TFRT.IN  4.161000e+00      ...
ASM          American Samoa        SP.DYN.TFRT.IN           NaN      ...
...                                                         ...      ...
VIR          Virgin Islands (U.S.) SP.POP.TOTL     4.130000e+04      ...
VNM          Vietnam               SP.POP.TOTL     3.757400e+07      ...
VUT          Vanuatu               SP.POP.TOTL     7.213100e+04      ...
WLD          World                 SP.POP.TOTL     3.258201e+09      ...
WSM          Samoa                 SP.POP.TOTL     1.233540e+05      ...
XKX          Kosovo                SP.POP.TOTL     1.050000e+06      ...
YEM          Yemen, Rep.           SP.POP.TOTL     5.543339e+06      ...
ZAF          South Africa          SP.POP.TOTL     1.930817e+07      ...
ZMB          Zambia                SP.POP.TOTL     3.452942e+06      ...
ZWE          Zimbabwe              SP.POP.TOTL     4.269863e+06      ...

                                                           2011          2012  \
Country Code Country Name          Indicator Code
ABW          Aruba                 SP.DYN.TFRT.IN  1.692000e+00  1.680000e+00
AFG          Afghanistan           SP.DYN.TFRT.IN  5.506000e+00  5.272000e+00
AGO          Angola                SP.DYN.TFRT.IN  6.335000e+00  6.251000e+00
ALB          Albania               SP.DYN.TFRT.IN  1.699000e+00  1.735000e+00
AND          Andorra               SP.DYN.TFRT.IN           NaN           NaN
ARB          Arab World            SP.DYN.TFRT.IN  3.446814e+00  3.437146e+00
ARE          United Arab Emirates  SP.DYN.TFRT.IN  1.841000e+00  1.820000e+00
ARG          Argentina             SP.DYN.TFRT.IN  2.358000e+00  2.347000e+00
ARM          Armenia               SP.DYN.TFRT.IN  1.613000e+00  1.581000e+00
ASM          American Samoa        SP.DYN.TFRT.IN           NaN           NaN
...                                                         ...           ...
VIR          Virgin Islands (U.S.) SP.POP.TOTL     1.057840e+05  1.052750e+05
VNM          Vietnam               SP.POP.TOTL     8.786030e+07  8.880920e+07
VUT          Vanuatu               SP.POP.TOTL     2.418710e+05  2.474850e+05
WLD          World                 SP.POP.TOTL     7.012844e+09  7.097401e+09
WSM          Samoa                 SP.POP.TOTL     1.876650e+05  1.891940e+05
XKX          Kosovo                SP.POP.TOTL     1.791000e+06  1.805200e+06
YEM          Yemen, Rep.           SP.POP.TOTL     2.425221e+07  2.490997e+07
ZAF          South Africa          SP.POP.TOTL     5.172935e+07  5.250652e+07
ZMB          Zambia                SP.POP.TOTL     1.426476e+07  1.469994e+07
ZWE          Zimbabwe              SP.POP.TOTL     1.438665e+07  1.471083e+07

                                                           2013          2014  \
Country Code Country Name          Indicator Code
ABW          Aruba                 SP.DYN.TFRT.IN  1.669000e+00  1.657000e+00
AFG          Afghanistan           SP.DYN.TFRT.IN  5.050000e+00  4.843000e+00
AGO          Angola                SP.DYN.TFRT.IN  6.165000e+00  6.080000e+00
ALB          Albania               SP.DYN.TFRT.IN  1.765000e+00  1.784000e+00
AND          Andorra               SP.DYN.TFRT.IN           NaN           NaN
ARB          Arab World            SP.DYN.TFRT.IN  3.417848e+00  3.387747e+00
ARE          United Arab Emirates  SP.DYN.TFRT.IN  1.801000e+00  1.784000e+00
ARG          Argentina             SP.DYN.TFRT.IN  2.335000e+00  2.322000e+00
ARM          Armenia               SP.DYN.TFRT.IN  1.553000e+00  1.531000e+00
ASM          American Samoa        SP.DYN.TFRT.IN           NaN           NaN
...                                                         ...           ...
VIR          Virgin Islands (U.S.) SP.POP.TOTL     1.047370e+05  1.041700e+05
VNM          Vietnam               SP.POP.TOTL     8.975950e+07  9.072890e+07
VUT          Vanuatu               SP.POP.TOTL     2.531420e+05  2.588500e+05
WLD          World                 SP.POP.TOTL     7.182860e+09  7.268986e+09
WSM          Samoa                 SP.POP.TOTL     1.907570e+05  1.922900e+05
XKX          Kosovo                SP.POP.TOTL     1.824100e+06  1.821800e+06
YEM          Yemen, Rep.           SP.POP.TOTL     2.557632e+07  2.624633e+07
ZAF          South Africa          SP.POP.TOTL     5.331196e+07  5.414673e+07
ZMB          Zambia                SP.POP.TOTL     1.515321e+07  1.562097e+07
ZWE          Zimbabwe              SP.POP.TOTL     1.505451e+07  1.541168e+07

                                                           2015
Country Code Country Name          Indicator Code
ABW          Aruba                 SP.DYN.TFRT.IN  1.647000e+00
AFG          Afghanistan           SP.DYN.TFRT.IN  4.653000e+00
AGO          Angola                SP.DYN.TFRT.IN  5.996000e+00
ALB          Albania               SP.DYN.TFRT.IN  1.793000e+00
AND          Andorra               SP.DYN.TFRT.IN           NaN
ARB          Arab World            SP.DYN.TFRT.IN  3.347607e+00
ARE          United Arab Emirates  SP.DYN.TFRT.IN  1.767000e+00
ARG          Argentina             SP.DYN.TFRT.IN  2.308000e+00
ARM          Armenia               SP.DYN.TFRT.IN  1.517000e+00
ASM          American Samoa        SP.DYN.TFRT.IN           NaN
...                                                         ...
VIR          Virgin Islands (U.S.) SP.POP.TOTL     1.035740e+05
VNM          Vietnam               SP.POP.TOTL     9.171330e+07
VUT          Vanuatu               SP.POP.TOTL     2.646030e+05
WLD          World                 SP.POP.TOTL     7.355220e+09
WSM          Samoa                 SP.POP.TOTL     1.937590e+05
XKX          Kosovo                SP.POP.TOTL     1.801800e+06
YEM          Yemen, Rep.           SP.POP.TOTL     2.691621e+07
ZAF          South Africa          SP.POP.TOTL     5.501198e+07
ZMB          Zambia                SP.POP.TOTL     1.610059e+07
ZWE          Zimbabwe              SP.POP.TOTL     1.577745e+07

[792 rows x 56 columns]

In [96]:
data = data.stack()
data

Country Code  Country Name  Indicator Code
ABW           Aruba         SP.DYN.TFRT.IN  1960    4.820000e+00
                                            1961    4.655000e+00
                                            1962    4.471000e+00
                                            1963    4.271000e+00
                                            1964    4.059000e+00
                                            1965    3.842000e+00
                                            1966    3.625000e+00
                                            1967    3.417000e+00
                                            1968    3.226000e+00
                                            1969    3.054000e+00
                                                        ...
ZWE           Zimbabwe      SP.POP.TOTL     2006    1.312427e+07
                                            2007    1.332991e+07
                                            2008    1.355847e+07
                                            2009    1.381060e+07
                                            2010    1.408632e+07
                                            2011    1.438665e+07
                                            2012    1.471083e+07
                                            2013    1.505451e+07
                                            2014    1.541168e+07
                                            2015    1.577745e+07
Length: 41644, dtype: float64

In [102]:
data.index = data.index.rename('Year', level=3)
data

Country Code  Country Name  Indicator Code  Year
ABW           Aruba         SP.DYN.TFRT.IN  1960    4.820000e+00
                                            1961    4.655000e+00
                                            1962    4.471000e+00
                                            1963    4.271000e+00
                                            1964    4.059000e+00
                                            1965    3.842000e+00
                                            1966    3.625000e+00
                                            1967    3.417000e+00
                                            1968    3.226000e+00
                                            1969    3.054000e+00
                                                        ...
ZWE           Zimbabwe      SP.POP.TOTL     2006    1.312427e+07
                                            2007    1.332991e+07
                                            2008    1.355847e+07
                                            2009    1.381060e+07
                                            2010    1.408632e+07
                                            2011    1.438665e+07
                                            2012    1.471083e+07
                                            2013    1.505451e+07
                                            2014    1.541168e+07
                                            2015    1.577745e+07
Length: 41644, dtype: float64

In [104]:
data2 = data.unstack(level=2)
data2

Indicator Code                  SP.DYN.LE00.IN  SP.DYN.TFRT.IN  SP.POP.TOTL
Country Code Country Name Year
ABW          Aruba        1960       65.569366           4.820      54211.0
                          1961       65.988024           4.655      55438.0
                          1962       66.365537           4.471      56225.0
                          1963       66.713976           4.271      56695.0
                          1964       67.044293           4.059      57032.0
                          1965       67.369756           3.842      57360.0
                          1966       67.699000           3.625      57715.0
                          1967       68.034683           3.417      58055.0
                          1968       68.377146           3.226      58386.0
                          1969       68.728415           3.054      58726.0
...                                        ...             ...          ...
ZWE          Zimbabwe     2006       42.810707           4.012   13124267.0
                          2007       44.177756           4.022   13329909.0
                          2008       45.804488           4.034   13558469.0
                          2009       47.624659           4.044   13810599.0
                          2010       49.574659           4.048   14086317.0
                          2011       51.600366           4.039   14386649.0
                          2012       53.643073           4.016   14710826.0
                          2013       55.633000           3.977   15054506.0
                          2014       57.498317           3.923   15411675.0
                          2015       59.161073           3.856   15777451.0

[14634 rows x 3 columns]

In [109]:
data2.index.levels[1].values

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Arab World', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Euro area', 'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Faroe Islands', 'Fiji', 'Finland',
       'Fragile and conflict affected situations', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'IBRD only', 'IDA & IBRD total',
       'IDA blend', 'IDA only', 'IDA total', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Korea, Dem. People’s Rep.', 'Korea, Rep.',
       'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR',
       'Late-demographic dividend', 'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North America', 'Northern Mariana Islands', 'Norway',
       'Not classified', 'OECD members', 'Oman', 'Other small states',
       'Pacific island small states', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Post-demographic dividend', 'Pre-demographic dividend',
       'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [98]:
data.dropna()

Country Code  Country Name  Indicator Code  Year
ABW           Aruba         SP.DYN.TFRT.IN  1960    4.820000e+00
                                            1961    4.655000e+00
                                            1962    4.471000e+00
                                            1963    4.271000e+00
                                            1964    4.059000e+00
                                            1965    3.842000e+00
                                            1966    3.625000e+00
                                            1967    3.417000e+00
                                            1968    3.226000e+00
                                            1969    3.054000e+00
                                                        ...
ZWE           Zimbabwe      SP.POP.TOTL     2006    1.312427e+07
                                            2007    1.332991e+07
                                            2008    1.355847e+07
                                            2009    1.381060e+07
                                            2010    1.408632e+07
                                            2011    1.438665e+07
                                            2012    1.471083e+07
                                            2013    1.505451e+07
                                            2014    1.541168e+07
                                            2015    1.577745e+07
Length: 41644, dtype: float64

In [99]:
data.loc['AND']

Country Name  Indicator Code  Year
Andorra       SP.DYN.TFRT.IN  2006        1.24
                              2007        1.18
                              2008        1.25
                              2009        1.19
                              2010        1.27
              SP.POP.TOTL     1960    13411.00
                              1961    14375.00
                              1962    15370.00
                              1963    16412.00
                              1964    17469.00
                                        ...
                              2006    80991.00
                              2007    82683.00
                              2008    83861.00
                              2009    84462.00
                              2010    84449.00
                              2011    83751.00
                              2012    82431.00
                              2013    80788.00
                              2014    79223.00
                              2015    78014.00
Length: 61, dtype: float64

In [11]:
fert3 = fert2.dropna().set_index(['Country Code', 'Indicator Code']).stack()
fert3

Country Code  Indicator Code
ABW           SP.DYN.TFRT.IN  1960    4.820000
                              1961    4.655000
AFG           SP.DYN.TFRT.IN  1960    7.450000
                              1961    7.450000
AGO           SP.DYN.TFRT.IN  1960    7.379000
                              1961    7.388000
ALB           SP.DYN.TFRT.IN  1960    6.489000
                              1961    6.401000
ARB           SP.DYN.TFRT.IN  1960    6.920302
                              1961    6.941665
                                        ...
WSM           SP.DYN.TFRT.IN  1960    7.651000
                              1961    7.645000
YEM           SP.DYN.TFRT.IN  1960    7.380000
                              1961    7.405000
ZAF           SP.DYN.TFRT.IN  1960    6.173000
                              1961    6.144000
ZMB           SP.DYN.TFRT.IN  1960    7.018000
                              1961    7.071000
ZWE           SP.DYN.TFRT.IN  1960    7.158000
                              1961    7.215000
Length: 470, dtype: float64

In [100]:
regions = pd.read_csv("../data/regions.csv").set_index("CountryCode")
regions.rename(columns={"TableName": "CountryName"}, inplace=True)
regions

                                 Region          IncomeGroup  \
CountryCode
ABW           Latin America & Caribbean          High income
AFG                          South Asia           Low income
AGO                  Sub-Saharan Africa  Lower middle income
ALB               Europe & Central Asia  Upper middle income
AND               Europe & Central Asia          High income
ARB                                 NaN                  NaN
ARE          Middle East & North Africa          High income
ARG           Latin America & Caribbean  Upper middle income
ARM               Europe & Central Asia  Lower middle income
ASM                 East Asia & Pacific  Upper middle income
...                                 ...                  ...
VIR           Latin America & Caribbean          High income
VNM                 East Asia & Pacific  Lower middle income
VUT                 East Asia & Pacific  Lower middle income
WLD                                 NaN                  NaN
WSM                 East Asia & Pacific  Upper middle income
XKX               Europe & Central Asia  Lower middle income
YEM          Middle East & North Africa  Lower middle income
ZAF                  Sub-Saharan Africa  Upper middle income
ZMB                  Sub-Saharan Africa  Lower middle income
ZWE                  Sub-Saharan Africa           Low income

                                                  SpecialNotes  \
CountryCode
ABW          SNA data for 2000-2011 are updated from offici...
AFG          Fiscal year end: March 20; reporting period fo...
AGO                                                        NaN
ALB                                                        NaN
AND          WB-3 code changed from ADO to AND to align wit...
ARB          Arab World aggregate. Arab World is composed o...
ARE                                                        NaN
ARG          National Institute of Statistics and Census re...
ARM                                                        NaN
ASM                                                        NaN
...                                                        ...
VIR                                                        NaN
VNM                                                        NaN
VUT          Based on official government statistics, value...
WLD                                           World aggregate.
WSM          Fiscal year ends on June 30; reporting period ...
XKX          WB-3 code changed from KSV to XKX to align wit...
YEM          Based on official government statistics and In...
ZAF          Fiscal year end: March 31; reporting period fo...
ZMB          The base year is 2010. National accounts data ...
ZWE          Fiscal year end: June 30; reporting period for...

                       CountryName  Unnamed: 5
CountryCode
ABW                          Aruba         NaN
AFG                    Afghanistan         NaN
AGO                         Angola         NaN
ALB                        Albania         NaN
AND                        Andorra         NaN
ARB                     Arab World         NaN
ARE           United Arab Emirates         NaN
ARG                      Argentina         NaN
ARM                        Armenia         NaN
ASM                 American Samoa         NaN
...                            ...         ...
VIR          Virgin Islands (U.S.)         NaN
VNM                        Vietnam         NaN
VUT                        Vanuatu         NaN
WLD                          World         NaN
WSM                          Samoa         NaN
XKX                         Kosovo         NaN
YEM                    Yemen, Rep.         NaN
ZAF                   South Africa         NaN
ZMB                         Zambia         NaN
ZWE                       Zimbabwe         NaN

[263 rows x 5 columns]

In [ ]:
def pivot(df, cn):
    le = pd.DataFrame(columns=['Key', 'CountryCode', 'Year', cn])
    countries = df.index.values
    for c in countries:
        for y in range(1960, 2016):
            #print (c, y)
            le.loc[len(le)] =[(c + '.' + str(y)), c, y, df.loc[c][str(y)]]
    le = le.set_index('Key')
    return le

In [ ]:
fr = pivot(fert, 'FertRate')
#le.set_index("Key")
fr

In [ ]:
le = pivot(lfe, "LifeExp")
le

In [ ]:
p = pivot(pop, "Population")
p

In [ ]:
result = fr.copy().dropna()
result["LifeExp"] = le["LifeExp"]
result["Population"] = p["Population"]
result = result.reset_index().set_index("CountryCode")

In [ ]:
result = result.join(regions[["Region", "CountryName"]])
result = result.reset_index()[["CountryCode", "Year", "CountryName", "LifeExp", "FertRate", "Population", "Region"]]
result

In [ ]:
result = result.dropna()

In [ ]:
result[result.CountryCode=='CUW']

In [ ]:
result.to_csv("../data/chart_data.csv", index=False)

In [ ]:
result[result.Year==2015].to_csv("../data/year2015.csv", index=False)